language: python

python:
  - 3.5

env:
  - TOXENV=py26
  - TOXENV=py27
  - TOXENV=py33
  - TOXENV=py34
  - TOXENV=py35
  - TOXENV=rhel6

install:
  - pip install -U tox

script:
  - tox

branches:
  only:
    - master

notifications:
  email:
    - maec-commits-list@lists.mitre.org
