language: python
python:
  - "2.6"
  - "2.7"

install:
  - pip install -r requirements.txt

script:
  - nosetests

branches:
  only:
    - master

notifications:
  email:
    - maec-commits-list@lists.mitre.org
